node_modules
node_modules_container
docs
.git
jdl/**/.jhipster/**
.vscode-test
**/templates/**/
**/jdl-core.min.js
**/generated-serialized-grammar.js
test/fixtures/**
tsconfig.json
**/migrations/**/
package*.json
.env*
public/**/*
vercel.json
.vercelignore
.prettierrc
dist
coverage
BadEntity.json
.eslintrc.js