@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1250px] m-auto w-[100%] h-[100%] px-[15px];
  }
  .form {
    @apply w-full bg-[white] max-w-[470px] m-auto py-[30px] sm:py-[35px] sm:px-[40px] px-[25px] flex items-center justify-center flex-col  gap-y-[20px] relative;
  }
  .form_heading {
    @apply font-PoppinsBold text-[35px] font-[900] text-[#2b3445] text-center;
  }
}
.form {
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 13%);
  background: rgb(255, 255, 255);
  
}



.header_animation {
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0px;
  transition: all 0.4 ease-in-out;
  box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
  border-bottom: none !important;
  animation: stickyHeader 0.3s ease forwards ;
}


.radio{
  position: relative;}

.radio input[type="radio"]{
  display: none;
}
.radio div{
  margin-left: 22px;
}
.radio span{
height: 20px;
width: 20px;
border-radius: 50%;
border: 3px solid #00aeef;
display: block;
position: absolute;
left: 0;
top: 7px;
}
/* rgb(255, 255, 255) */
@keyframes stickyHeader {
  0%{
    transform: translateY(-60px);
  }
  100%{
    transform: translateY(0);

  }
}