@import "./font.css";
@import url("./tailwind.css");

.form {
  box-shadow: 0 0 20px 1px rgb(0 0 0 / 13%);
  background: rgb(255, 255, 255);
}

#products .container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  justify-content: center;
}

#productList {
  width: 100%;
}
#productList .product_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px 30px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#productList .home_product_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 35px 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

#productSidebar {
  box-shadow: 0px 0px 6px -4px;
}

.upload_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.upload_avatar {
  border-radius: 50%;
  max-width: 100%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
#home .home_heading {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media (max-width: 950px) {
  .home_product_grid,
  .product_grid {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media (max-width: 768px) {
  .home_product_grid,
  .product_grid {
    grid-template-columns: 1fr 1fr !important;
  }
  #products .container {
    display: flex !important;
    flex-direction: column;
    row-gap: 15px;
  }
}

@media (max-width: 560px) {
  .home_product_grid,
  .product_grid {
    display: flex !important;
    flex-direction: column;
  }
}
.header_animation {
  background-color: white;
  z-index: 1;
  position: sticky;
  top: 0px;
  transition: all 0.4 ease-in-out;
  box-shadow: rgba(43, 52, 69, 0.1) 0px 4px 16px;
  border-bottom: none !important;
  animation: stickyHeader 0.3s ease forwards;
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}
